.h1{
    align-items: center;
}
.page .btn {
  background-color:#5B4636;;
  color:white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  float: right; /* Places the button on the right */
  margin: 20px 0;
}

.page .btn:hover {
  background-color: #6E5645;
  transform: translateY(-2px);
  box-shadow: #364635 rgba(54, 70, 53, 0.22);
}

.page .btn:active {
  transform: scale(0.98);
}
